.about{
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    scroll-margin-top: 20rem;
}
.about.about__left{
    max-width: 40rem;
    flex: 1;
}
.about.about__left p{
    margin: 1rem 0 2em;
    
}
.about.about__left ul{
    margin-left: -1.2rem;
}
.about.about__left ul li{
    display: inline-block;
}
.about.about_left ul li a{
    display: inline-block;
    padding: 1rem;
}
.about.about__right{
    flex: 1;
    max-width: 66rem;
}
@media only screem and (max-width:768px){
   .about{
        flex-direction: column;
        text-align: center;
    }
   .about.about.about__left {
        max-width: 66rem;
        text-align: center;
    }
    .about.about.about.about__right {
        text-align: center;
    }
}
footer{
    background-color: var(--light-tertiary-color);
}
footer.footer__content{
    text-align: center;
    padding: 6rem 2rem 1rem;
    max-width: 47rem;
}
footer.footer__content.footer__content span{
    display: block;
    font-weight: 500;
}
footer.footer__content ul li{
    display: inline-block;
}
footer.footer__content ul a{
   display: inline-block;
   padding: 1rem;
}
footer.footer__content.footer__copyright{
    font-size: 1.4rem;
}